main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 82.5vh;
}
.container{

    
    
}
img{
    height: 200px;
    width: 300px;
    /* cursor: pointer; */
}

.music_controls{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;

}
.music_controls i {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 50px;
   
    cursor: pointer;
    text-align: center;
}